body{
	background-color:#EEEEEE;
}
input{
	margin-top:25px;
}
.tytul{
	width:450px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:5px;
	background-color:#002090;
	color:#FFFF00;
	font-size:22px;
	padding:15px;
}

.blad{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	background-color:#FFA070;
	color:#FF0000;
	padding:15px;
}

.pop{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	background-color:#40E080;
	color:#402030;
	padding:15px;
}